 .container1 {
 	background-color: #e2fad7;
 	text-align: center;
 	padding:20px 50px 50px 50px;
 }

.container2{background-color: #d0f5b3;}

.try-circle{border-radius:50%;}

.about{font-size:20px;
	text-align: justify;
	padding:20px;
}

#highlight{
	background-color:#cade87;
	margin-left:280px;
	margin-right:280px;
	margin-top:20px;
	padding:5px;
	font-size:16px;
}

.container3 {
	background-color: #cade87;
	padding:50px;
}

.timeline{
	width: 800px;
	margin: auto;
	font-size: 18px;
}

footer{
	background-color:#8b5a00;
	color:white;
	text-align:center;
}
body{margin: 0px;}
#heading{font-size: 50px;font-weight: 800;}
