
 .container1 {
 	background-color: #eef9c1;
 	text-align: center;
 	padding:20px 50px 50px 50px;
 }

.container2{background-color:#e4edaa;}

.try-circle{border-radius:60%;border:4px solid #eef9c1;}

.about{font-size:20px;
	text-align: justify;
	padding:20px;
}

img{
   width:30%;
   margin:auto;

}

#highlight{
	width:70%;
	background-color:#8f8334;
	color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding:5px;
	font-size:150%;
	color:white;
}

.container3 {
	background-color: #E4EDAA;
	padding:50px;
}

.timeline{
	width: 800px;
	margin: auto;
	font-size: 18px;
}

footer{
	background-color:#8f8334;
	text-align:center;
	color:white !important;
	text-align:center;
	padding:10px;
}
body{margin: 0px;font-family: quicksand;}
#heading{font-size: 45px;font-weight: 800;}
li{line-height:40px;}
