 .container1 {
 	background-color: #ddffcd;
 	text-align: center;
 	padding:20px 50px 50px 50px;
 }

.container2{background-color: #d0f5b3;}

.try-circle{border-radius:60%;border:4px solid #ddffcd;}

.about{font-size:20px;
	text-align: justify;
	padding:20px;
}

#highlight{
	background-color:#8b5a00;
	color:white;
	margin-left:280px;
	margin-right:280px;
	margin-top:20px;
	padding:5px;
	font-size:16px;
}

.container3 {
	background-color: #cade87;
	padding:50px;
}

.timeline{
	width: 800px;
	margin: auto;
	font-size: 18px;
}

footer{
	background-color:#8b5a00;
	color:white !important;
	text-align:center;
	padding:10px;
}
body{margin: 0px;font-family: quicksand;}
#heading{font-size: 45px;font-weight: 800;}
li{line-height:40px;}
